In [1]:
this_list=['apple','banana','cherry']
print(this_list)

['apple', 'banana', 'cherry']

In [3]:
import math

In [2]:
print('hello ')

hello

In [4]:
this_list=['apple','banana','cherry','apple','cherry']
print(this_list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [5]:
len(this_list)

5

In [6]:
list1=['male',True,45,"char"]

In [8]:
print(type(list1))

<class 'list'>

In [9]:
mylist=["cherry","banana","apple"]
print(type(mylist))

<class 'list'>

In [11]:
thislist=list(("apple","banana","cherry")) #when we are using list() constructor we need to use double-round brackets
print(thislist)

['apple', 'banana', 'cherry']

List=>ia a collection which is ordered and changeable.Allows duplicate members.

Tuple=>is a collection which is ordered and unchangeable.Allows duplicate members.

Set=> is a collection which is unordered, unchangeable,and unindexed.No duplicate members.

Dictionary=> is a collection which is ordered and changeable.No duplicate members.

despite set items are unchangeable,we can still add or remove items whenever we want

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:6:2])

['cherry', 'kiwi']

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

To determine if a specified item is present in a list use the in keyword:

In [17]:
thislist=["apple","cherry","banana"]
if "apple" in thislist:
    print("yes")

yes

In [19]:
thislist=["apple","cherry","banana"]
if "ananas" in thislist:
    print("yes")
else:
    print("there is no such fruit")

there is no such fruit

In [ ]:
thislist=["apple","cherry","banana"]
thislist[1]="Tacos"
print(thislist)

['apple', 'Tacos', 'banana']

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [23]:
thislist=["apple","cherry","banana"]
thislist[1:2]=["watermelon","melon"]
print(thislist)

['apple', 'watermelon', 'melon', 'banana']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,"watermelon")
print(thislist)

['apple', 'watermelon', 'banana', 'cherry']

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [29]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries)

In [1]:
thislist = ["apple", "banana", "cherry"]
thistuple=("kiwi","orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

The pop() method removes the specified index.

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [6]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [7]:
thislist = ["apple", "banana", "cherry"]
del thislist

The clear() method empties the list.

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [9]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [10]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [11]:
thislist = ["apple", "banana", "cherry"]
i=0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [12]:
thislist=["apple","cherry","banana","cherry","tacos"]
for x in thislist:
    print(x)

apple
cherry
banana
cherry
tacos

In [13]:
thislist=["apple","cherry","banana","cherry","tacos"]
for i in range(len(thislist)):
    print(thislist[i])

apple
cherry
banana
cherry
tacos

In [14]:
thislist=["apple","cherry","banana","cherry","tacos"]
i=0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
cherry
banana
cherry
tacos

List Comprehension offers the shortest syntax for looping through lists:

In [15]:
thislist=["apple","banana","cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [16]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [17]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

newlist = [expression for item in iterable if condition == True]

In [18]:
newlist=[x for x in fruits if x!="apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [19]:
newlist=[x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [20]:
newlist=[x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
newlist=[x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [22]:
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [24]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [25]:
newlist=[x if x!="banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [26]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [27]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [28]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [29]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [31]:
def myfunc(x):
    return abs(x-50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [33]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [34]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

So if you want a case-insensitive sort function, use str.lower as a key function:

In [35]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [36]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

You can use the built-in List method copy() to copy a list.

In [37]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

You can also make a copy of a list by using the : (slice) operator.

In [38]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [39]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [40]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [41]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]


Method	Description

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

Python Tuples

In [42]:
mytuple = ("apple", "banana", "cherry")

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [43]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

tuple items are ordered , unchangeable and allow duplicate values

In [44]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [45]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [46]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

A tuple with strings, integers and boolean values:

In [47]:
tuple1 = ("abc", 34, True, 40, "male")

<class 'tuple'>

In [48]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

It is also possible to use the tuple() constructor to make a tuple.

In [49]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [50]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [51]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Note: The search will start at index 2 (included) and end at index 5 (not included).

In [52]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [53]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

This example returns the items from index -4 (included) to index -1 (excluded)

In [54]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

To determine if a specified item is present in a tuple use the in keyword:

In [55]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [56]:
thistuple=("apple","banana","cherry","strawberry")
if "strawberry" in thistuple:
    print("yes")

yes

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [57]:
mytuple=("apple","cherry","banana","lemon")
mylist=list(mytuple)
mylist[1]="kiwi"
mytuple=tuple(mylist)
print(mytuple)

('apple', 'kiwi', 'banana', 'lemon')

In [59]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

adding two tuples is allowed so we can simply add them

In [60]:
thistuple=("apple","cherry","banana")
newtuple=("kiwi",)
thistuple+=newtuple
print(thistuple)

('apple', 'cherry', 'banana', 'kiwi')

In [62]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [63]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [64]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [65]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [66]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [68]:
colors=("blue","green","red","black")
(apple,banana,*cherry)=colors
print(apple)
print(banana)
print(cherry)

blue
green
['red', 'black']

In [69]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry